#game{

	
}
#board{
    background: deepskyblue;
    width: 330px;
    height: 330px;
}
.squares{
    background: purple;
    height: 100px;
    width: 100px;
    border: 1px solid;
    display: inline-block;
}

#chalk{

}
#eraser{

}