#game{
    background-color: green;
/*    vertical-align: top;
*/  height: 500px;
    width: 500px;
    text-align: center;
    margin: 0 auto;

	
}
#board{
    background: deepskyblue;
    width: 330px;
    height: 330px;
    vertical-align: top;
    text-align: center;


}
.squares{
    background: purple;
    height: 95px;
    width: 95px;
    border: 1px solid;
    display: inline-block;
    color: white;
    text-align: center;
    font-size: 640%;
    padding: 1%;


}

#chalk{
    width: 30px;
    height: 30px;
    background: #ffff00;

}
#eraser{
    width: 30px;
    height: 30px;
    background: orangered;

}