#game{background-color: green;

	
}
#board{
    background: deepskyblue;
    width: 330px;
    height: 330px;
}
.squares{
    background: purple;
    height: 95px;
    width: 95px;
    border: 1px solid;
    display: inline-block;
    color: white;
    text-align: center;

}

#chalk{
    width: 30px;
    height: 30px;
    background: #ffff00;

}
#eraser{
    width: 30px;
    height: 30px;
    background: orangered;

}