<!DOCTYPE html>
<html ng-app="tictactoeApp">
    <head>
        <title>Tic-Tac-Toe</title>
        <link rel="stylesheet" type="text/css" href="css/styles.css">
        <link rel="stylesheet" href="css/normalize.css">
        <script src="js/angular.js"></script>
        <script src="js/app.js"></script>
        <script src="js/TictactoeBoard.js"></script>

        <script src="js/TictactoeController.js"></script>

    </head>

<!-- The body must be connected to the ng-app -->
<body ng-controller="TictactoeController as tic">
	<section id= "game">
        <h1>Tic-Tac-Toe</h1>
		<section id="board">
        {{tic.name}}
			<div class="squares" ng-repeat="tile in tic.Board.tiles">
                asdfasd
            </div>
            <p>{{3+3}}</p>

        </section>

	</section>
<!--ng-repeat=square in game.-->

</body>
</html>